.ImageUploader {
    justify-content: center;
  }

  .ImageUploader-button {
    background-color: #2ED8A7;
  }
  
  .ImageUploader-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .ImageUploader-logo {
      animation: ImageUploader-logo-spin infinite 20s linear;
    }
  }
  
  .ImageUploader-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .ImageUploader-link {
    color: #61dafb;
  }
  
  @keyframes ImageUploader-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  